@{
    ViewData["Title"] = "Home Page";
}



<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <img src="/assets/img/salon/model.jpg" alt="" data-aos="fade-in">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 d-flex flex-column align-items-center align-items-lg-start">
                    <h2 data-aos="fade-up" data-aos-delay="100">Welcome to <span> Sirius</span> <br /></h2>
                    <h4 style="margin-left:230px">Beauty Salon & Spa</h4>
                    <p data-aos="fade-up" data-aos-delay="200">"Feel Beautiful, Be Sirius"</p>
                    <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
                        <a href="#menu" class="cta-btn">Our Services</a>
                        <a asp-controller="Account" asp-action="Login" class="cta-btn">Log In</a>
                    </div>
                </div>

            </div>
        </div>

    </section><!-- /Hero Section -->
    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="/assets/img/salon/logo2.png" class="img-fluid about-img" alt="">
                </div>
                <div class="col-lg-6 order-2 order-lg-1 content">
                    <br /><br />
                    <h4>At Sirius Beauty & Spa, we believe that true beauty comes from within, and we’re here to help you shine like the star you are. </h4>
                    <br />
                    <p class="fst-italic">
                        Located in a serene and luxurious setting, Sirius offers a full range of beauty and wellness treatments designed to refresh your mind, body, and soul.
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-all"></i> <span>From rejuvenating facials to relaxing massages, and expert hair and nail care, our highly trained professionals are dedicated to making every visit an unforgettable experience.</span></li>
                        <li><i class="bi bi-check2-all"></i> <span>Whether you’re here to unwind, enhance your natural beauty, or indulge in self-care, Sirius is your ultimate destination for elegance and tranquility.</span></li>
                        
                    </ul>
                    <p>
                        Let us take you on a journey of relaxation and transformation. Because at Sirius, your glow is our mission.
                    </p>
                </div>
            </div>

        </div>

    </section><!-- /About Section -->
    <!-- Why Us Section -->
    <section id="why-us" class="why-us section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>WHY US</h2>
            <p>Why Choose Our Salon</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-item">
                        <span>01</span>
                        <h4><a href="" class="stretched-link">Where Beauty Meets Serenity</a></h4>
                        <p>At Sirius, we create a peaceful escape from the hustle of daily life. Our tranquil atmosphere and expert care are designed to help you relax, rejuvenate, and rediscover your inner calm.</p>
                    </div>
                </div><!-- Card Item -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="card-item">
                        <span>02</span>
                        <h4><a href="" class="stretched-link">Your Beauty, Our Galaxy</a></h4>
                        <p>You are at the center of everything we do. Our personalized treatments celebrate your unique beauty, enhancing your natural radiance with the finest products and techniques.</p>
                    </div>
                </div><!-- Card Item -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card-item">
                        <span>03</span>
                        <h4><a href="" class="stretched-link">Glow Beyond the Stars with Sirius</a></h4>
                        <p>We go beyond ordinary beauty care to make you feel extraordinary. At Sirius, every treatment is crafted to leave you glowing with confidence, inside and out.</p>
                    </div>
                </div><!-- Card Item -->

            </div>

        </div>

    </section><!-- /Why Us Section -->
    <!-- Menu Section -->
    <section id="menu" class="menu section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Menu</h2>
            <p>Check Our Services</p>
        </div><!-- End Section Title -->

        <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul class="menu-filters isotope-filters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-hair">Hair</li>
                        <li data-filter=".filter-makeup">Makeup</li>
                        <li data-filter=".filter-eyelash">Eyelash</li>
                        <li data-filter=".filter-nailart">Nail Art</li>
                        <li data-filter=".filter-laser">Laser</li>
                        <li data-filter=".filter-microblading">Microblading</li>
                        <li data-filter=".filter-skincare">Skin Care</li>
                        <li data-filter=".filter-massage">Massage</li>
                    </ul>
                </div>
            </div><!-- Menu Filters -->

            <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-6 menu-item isotope-item filter-hair">
                    <img src="/assets/img/services/hair.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Haircut</a><span>$5.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Lorem, deren, trataro, filede, nerada
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-hair">
                    <img src="/assets/img/services/hair.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Hair Dye</a><span>$6.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Lorem, deren, trataro, filede, nerada
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-hair">
                    <img src="/assets/img/services/hair.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Hairstyling</a><span>$7.95</span>
                    </div>
                    <div class="menu-ingredients">
                        A delicate crab cake served on a toasted roll with lettuce and tartar sauce
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-hair">
                    <img src="/assets/img/services/hair.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Hair Care</a><span>$8.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Lorem, deren, trataro, filede, nerada
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-hair">
                    <img src="/assets/img/services/hair.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Bridal Hairstyling</a><span>$9.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Grilled chicken with provolone, artichoke hearts, and roasted red pesto
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-makeup">
                    <img src="/assets/img/services/makeup.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Makeup</a><span>$4.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Lorem, deren, trataro, filede, nerada
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-makeup">
                    <img src="/assets/img/services/makeup.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Bridal Makeup</a><span>$9.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Fresh spinach, crisp romaine, tomatoes, and Greek olives
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-eyelash">
                    <img src="/assets/img/services/Eyelash.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Temporary Lashes</a><span>$9.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-eyelash">
                    <img src="/assets/img/services/Eyelash.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Lash Tinting</a><span>$9.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-eyelash">
                    <img src="/assets/img/services/Eyelash.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Lash Removal</a><span>$9.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-eyelash">
                    <img src="/assets/img/services/Eyelash.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Eyelash Extention</a><span>$9.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-eyelash">
                    <img src="/assets/img/services/Eyelash.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Lash Lift</a><span>$9.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-eyelash">
                    <img src="/assets/img/services/Eyelash.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Refill Eyelash</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-nailart">
                    <img src="/assets/img/services/nailart.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Standard Manicure With Nail Polish</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-nailart">
                    <img src="/assets/img/services/nailart.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Polygel Nail</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-nailart">
                    <img src="/assets/img/services/nailart.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">French Manicure</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-nailart">
                    <img src="/assets/img/services/nailart.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Nail Extensions</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-nailart">
                    <img src="/assets/img/services/nailart.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Nail Lamination</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-laser">
                    <img src="/assets/img/services/laser.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">laser (Area of Your Choice)</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-laser">
                    <img src="/assets/img/services/laser.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Laser (Full Body)</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-microblading">
                    <img src="/assets/img/services/Microblading.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Eyebrow Shaping / Eyebrow Grooming</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-microblading">
                    <img src="/assets/img/services/Microblading.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Microblading Touch-Up</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-microblading">
                    <img src="/assets/img/services/Microblading.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Eyebrow Tinting</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-microblading">
                    <img src="/assets/img/services/Microblading.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Upper Lip Hair Removal</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-microblading">
                    <img src="/assets/img/services/Microblading.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Facial Hair Removal</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-microblading">
                    <img src="/assets/img/services/Microblading.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Eyebrow Lift</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-skincare">
                    <img src="/assets/img/services/skincare.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Peeling</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-skincare">
                    <img src="/assets/img/services/skincare.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Mask</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

                <div class="col-lg-6 menu-item isotope-item filter-massage">
                    <img src="/assets/img/services/massage.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Massage Full Body</a><span>$12.95</span>
                    </div>
                    <div class="menu-ingredients">
                        Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                    </div>
                </div><!-- Menu Item -->

            </div><!-- Menu Container -->

        </div>

    </section><!-- /Menu Section -->
    
    <!-- Events Section -->
    <section id="events" class="events section">

        <img class="slider-bg" src="/assets/img/salon/logo1.png" alt="" style="width: 50%; position: absolute; top: 50%; margin-left:750px; transform: translateY(-50%);">


        <div class="container">

            <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      }
                    }
                </script>
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/1.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->
                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/2.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->
                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/3.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->
                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/4.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->
                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/7.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->
                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/8.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->
                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/9.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->
                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/10.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->
                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/12.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->
                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/13.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->
                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/14.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->
                    <div class="swiper-slide">
                        <div class="row gy-4 event-item">
                            <div class="col-lg-6">
                                <img src="/assets/img/photos/15.jpg" class="img-fluid" alt="" style="aspect-ratio: 4/4; object-fit: contain;">
                            </div>
                        </div>
                    </div><!-- End Slider item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </section><!-- /Events Section -->
 
    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Gallery</h2>
            <p>Some photos from Our Salon</p>
        </div><!-- End Section Title -->

        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-0">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/assets/img/salon/salon_reception.jpg" class="glightbox" data-gallery="images-gallery">
                            <img src="/assets/img/salon/salon_reception.jpg" alt="Reception" class="img-fluid">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/assets/img/salon/salon_hair.jpg" class="glightbox" data-gallery="images-gallery">
                            <img src="/assets/img/salon/salon_hair.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/assets/img/salon/salon_makyaj.jpg" class="glightbox" data-gallery="images-gallery">
                            <img src="/assets/img/salon/salon_makyaj.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/assets/img/salon/salon_pedikür.jpg" class="glightbox" data-gallery="images-gallery">
                            <img src="/assets/img/salon/salon_pedikür.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/assets/img/salon/salon_spa.jpg" class="glightbox" data-gallery="images-gallery">
                            <img src="/assets/img/salon/salon_spa.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/assets/img/salon/salon_nail.jpg" class="glightbox" data-gallery="images-gallery">
                            <img src="/assets/img/salon/salon_nail.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/assets/img/salon/salon_skincare.jpg" class="glightbox" data-gallery="images-gallery">
                            <img src="/assets/img/salon/salon_skincare.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/assets/img/salon/salon_massage.jpg" class="glightbox" data-gallery="images-gallery">
                            <img src="/assets/img/salon/salon_massage.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->


            </div>

        </div>

    </section><!-- /Gallery Section -->
    <!-- Chefs Section -->
    <section id="chefs" class="chefs section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Team</h2>
            <p>Necessitatibus eius consequatur</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <img src="/assets/img/Team/hair1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>David White</h4>
                                <span>HairStayling</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <img src="/assets/img/Team/hair2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Sarah Jhonson</h4>
                                <span>HairStayling</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/hair3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Welma Anderson</h4>
                                <span>HairStayling</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/hair4.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Belma Anderson</h4>
                                <span>HairStayling</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/eyelash.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Drake Samuel</h4>
                                <span>Eyelash</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/eyelash2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Adah Isaha</h4>
                                <span>Eyelash</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/laser.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            S
                            <div class="member-info-content">
                                <h4>Michaela Stone</h4>
                                <span>Laser</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/makeup.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Ellen Tamaki </h4>
                                <span>Makeup</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/makeup1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Josh Dallas</h4>
                                <span>Makeup</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/microblading.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Lisa Vicari</h4>
                                <span>Microblading</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/microbladin2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Louis Hoffman</h4>
                                <span>Microblading</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/nailart.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Gina Stiebitz</h4>
                                <span>Nailart</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/nailart1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Ella Jee</h4>
                                <span>Nailart</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/massage.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Helena Pieska</h4>
                                <span>Masseuse</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/assets/img/Team/reception2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Paul Rdom</h4>
                                <span>Receptionist</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->


            </div>

        </div>

    </section><!-- /Chefs Section -->
    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div><!-- End Section Title -->

        <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
            <iframe style="border:0; width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-4">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Location</h3>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Open Hours</h3>
                            <p>Monday-Saturday:<br>11:00 AM - 2300 PM</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Call Us</h3>
                            <p>+1 5589 55488 55</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email Us</h3>
                            <p>info@example.com</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>

                <div class="col-lg-8">
                    <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                            </div>

                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>

                                <button type="submit">Send Message</button>
                            </div>

                        </div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>

    </section><!-- /Contact Section -->

</main>