<div class="container mt-5">
    <h1>Randevularım</h1>

    @if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Hizmet</th>
                    <th>Tarih</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model)
                {
                    <tr>
                        <td>@appointment.Appointment.ServiceId</td>
                        <td>@appointment.Appointment.TimeSpanTime</td>
                        <td>@appointment.approvalStatus</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Henüz bir randevunuz bulunmamaktadır.</p>
    }
</div>

</div>

<style>
    table {
        margin-top: 70px;
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
    }
</style>
